<div class="container">

  <div class="row">
    <div class="col-md-6 offset-md-3 border-top border-bottom p-2">
      <h4>Hello <%= @user.name %>,</h4>
      <h5>We are in the midst of processing your payment for the following items.</h5>
      <h5>Once verified, a seperate E-mail will be send to inform you that the product(s) has been shipped to your address</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3 border-top border-bottom p-2">
      <h5>Transaction ID: <strong><%= @order_details.transaction_num %></strong></h5>
      <h5>Created at: <strong><%= @order_details.created_at.strftime("%d/%m/%Y, %I:%M%p") %></strong></h5>
    </div>
  </div>

  <% total_price = 0 %>
  <% @uniq_products.each do |product| %>
    <div class="row">
      <div class="col-md-6 offset-md-3 border-top border-bottom p-2">
        <p><strong>Name: </strong><%= product.name %></p>
        <p class="card-subtitle mb-2 text-muted"><%= number_to_currency(price =product.price) %> each</p>
        <p><strong>Quantity: </strong><%= qty = @products.where(product_id: product).count %></p>
        <p><strong>Sub-Total: </strong><%= number_to_currency(subtotal = price * qty) %></p>
        <% total_price = total_price + subtotal %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 offset-md-3 border-top border-bottom p-2">
      <p><strong>Grand Total: </strong><%= number_to_currency(total_price) %></p>
    </div>
  </div>


</div>