<div class="container">

  <%= render partial: "admin_console" %>  

  <div class="row">
    <div class="col-md-12 testbg">
      rotating banner here </br>
      Hot deals, lobangz </br>
      use carosel from bootstrap
    
    </div>
  </div>

  <div class="row">

    <div class="col-md-12 d-flex justify-content-center">
      <h2>Showing <strong><%= @catalog_name.category %></strong> catalog</h2>
    </div>

     <% @catalog.each do |p| %>
      <div class="col-md-3 d-flex flex-column justify-content-between border-left border-right">
        
        <%= filestack_image p.filepicker_url, transform: filestack_transform.resize(width:250, height:250), class: "card-img-top" %>

        <div>
          <h3 class="card-title product-bg"><%= p.name %></h3>
          <h6 class="card-subtitle mb-2 text-muted"><%= number_to_currency(p.price) %></h6>
          <p class="card-text"><%= p.description %></p>
          <p class="card-text"><strong>Category: </strong>
            <% if p.category_ids.length > 0 %>
              <% @existing_categories.each do |existing_cat| %>
                <% p.category_ids.each do |product_cat| %>
                  <%= existing_cat.category if existing_cat.id == product_cat %>
                <% end %>
              <% end %>
            <% else %>
              Unassigned
            <% end %>
          </p>
          </br>
        </div>

        <div>
          <table>
            <tr>
              <% if current_user.try(:admin?) %>
                <td><%= button_to 'Edit', edit_product_path(p), method: :get, class: "btn btn-outline-primary" %></td>
                <td><%= button_to 'Destroy', p, method: :delete, class: "btn btn-danger", data: { confirm: 'This will remove the product, are you sure you want to proceed' } %></td>
              <% else %>
                <td><%= link_to 'Add to cart', add_cart_product_path(p), method: :put %></td>
              <% end%>
            </tr>
          </table>
        </div>


      </div>
    <% end %>

  </div>

</div>