<div class="container">
  <% if current_user.try(:admin?) %>
  <div class="row">
    <div class="col">
       <strong><u>Admin Controls</u></strong></br>
       <%= form_for @products, url: products_path do |f| %>
        <p>Product Name: <%= f.text_field :name %></p>
        <p>Product Image: <%= f.filestack_field :filepicker_url, "Product Pic"%></p>
        <p>Product Description: <%= f.text_area :description %></p>
        <p>Product Price: $ <%= f.text_field :price %></p>
        <p><%= f.submit "submit" %></p>
       <% end %>
    
    </div>
  </div>
  <% end%>
</div>