<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingCart</title>
    <%= csrf_meta_tags %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>

    <div class="navigation-bar">
      <div class="nav-Home"><%= button_to "Home", root_path, class: "btn btn-secondary", method: :get %></div>
      <div class="nav-Products">Products</div>
      <div class="nav-Search">Search Bar Here</div>

      <% if current_user %>
        <div class="nav-Cart"><%= link_to 'Cart', edit_user_order_path(id: :cart, user_id: :user)%></div>
        <div class="nav-Login">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="dropdown-item"><%= link_to 'Change password', edit_user_registration_path, method: :get %></div>
              <div class="dropdown-item"><%= link_to 'Close Account', user_path(current_user.id), method: :delete, data: {confirm:"Are you sure?"} %></div>
            </div>
          </div>
        </div>

        <div class="nav-Signup"><%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-secondary" %></div>
      <% else %>
        <div class="nav-Login"><%= button_to "Log in", new_user_session_path, class: "btn btn-secondary", method: :get %></div>
        <div class="nav-Signup"><%= button_to "Sign Up", new_user_registration_path, class: "btn btn-secondary", method: :get %></div>
      <% end %>
    </div>

    <%= yield %>

    <%= filestack_js_include_tag %>
    <%= filestack_js_init_tag %> 
  </body>
</html>
